body{
    background-color: #F5F5F5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 30px #DCDCDC;
    display: flex;
}
.imgBlock{
    width: 60%;
}
.inputBlock{
    width: 40%;
}
.imgBlock{
    background-image: url(https://images.unsplash.com/photo-1515859005217-8a1f08870f59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2799&q=80);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
}
.inputBlock{
    padding: 80px;
}