body{
    background-color: #F5F5F5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 30px #DCDCDC;
    display: flex;
}
.imgBlock{
    width: 60%;
}
.inputBlock{
    width: 40%;
}
.imgBlock{
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
}
.inputBlock{
    padding: 80px;
}